<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
	    </encoder>
  	</appender>
  	
  	<appender name="FILER"  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>c:/soft/dev/workspace_incubator/WordBank/WBFMServer/target/wdfmserver.log</file>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			 <fileNamePattern>c:/soft/dev/workspace_incubator/WordBank/WBFMServer/target/wdfmserver_%d{yyyy-MM-dd}.log</fileNamePattern>
			 
			 <!-- keep a year -->
			<maxHistory>365</maxHistory>
		</rollingPolicy>
		
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
		
	</appender>
	
	<logger name="org.gusmp" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILER" />
	</logger>

	<root level="ERROR" additivity="false">
		<appender-ref ref="STDOUT"  />
		<appender-ref ref="FILER" />
	</root>

</configuration>